# Port configuration
export PORT=4000

# reCAPTCHA configuration
# Get these from https://www.google.com/recaptcha/admin
export RECAPTCHA_SITE_KEY=$(pass show pmgforrms/recaptcha_site_key)
export RECAPTCHA_SECRET_KEY=$(pass show pmgforrms/recaptcha_secret_key)

# Resend email service configuration
# Get your API key from https://resend.com
export RESEND_API_KEY=$(pass show pmgforrms/resend_api_key)
export DATABASE_URL=ecto:///strive
export SECRET_KEY_BASE=$(pass show pmgforrms/secret_key_base)
